/* Color Scheme
	Crust color  #dad3c9
	Yellow apple #f1e9a0
	Green apple #b8d9a2
	Red apple #bc3a46
*/

/* Main tags and div sections ************************************ */
h1,h2,h3,h4,h5,h6,p,ul,ol,li{
margin: 0;
padding: 0;
text-align: center;
color: #dad3c9;
}

body{
font: 100%/1.5 "Macondo", cursive;
background-image: url(../images/rbg1.jpg);
max-width: 900px;
margin: 0 auto;
padding: 0;
}

h1
{
font-size: 3.75em; /* 60px */
text-shadow: -1px 1px 2px #111; 
}

h2{
font-size: 2.5em; /*40px*/
padding: 1.111111% 0; /*10px 0;*/
text-shadow: -2px 2px 2px #111; 
}

h3{
font-size: 1.875em; /*30px*/
text-shadow: -1px 1px 2px #111; 
}

h4{
font-size: 1.5em; 
text-shadow: -1px 1px 2px #111; 
color: #fff9f2;
border-bottom: 1px dotted #c8e5b5;
}

p{
font-family: helvetica, sans-serif;
}


#header{
height: 70px;
margin: 2.222222% 2%;
}

#headline,#main{
background-color: #ab917a;
background-image: url(../images/bg1.jpg);
border-radius: 10px;
box-shadow: 0px 2px 3px #730e0e;
margin: 2.222222% 2%;
padding: 1.111111%;

}

footer{
clear: both;
height: 100px;
background-color: #bc3a46;
background: -webkit-gradient(linear, left top, left bottom, from(#bc3a46), to(#ac0a19));
background: -moz-linear-gradient(top,  #bc3a46,  #ac0a19);
border-radius: 10px;
box-shadow: 0px 2px 3px #730e0e;
margin:1.111111% 2%; /*10px 0*/
}

#logo{
float: left;
margin: 10px 2%;
border-radius: 10px;
box-shadow: 0px 2px 3px #730e0e;

}

/* Navigation ********************************* */
nav{
padding: 1.111111% 0; /*10px 0*/
}

nav ul{
background: -webkit-gradient(linear, left top, left bottom, from(#bc3a46), to(#ac0a19));
background: -moz-linear-gradient(top,  #bc3a46,  #ac0a19);
list-style-type: none;
border-radius: 10px;
box-shadow: 0px 2px 3px #730e0e;
margin: 0 auto;
/* padding: 1.666667% 1.111111%; 15px 10px; */
overflow: hidden;
}

nav li{
width: 33.333333%;/**/
font-size: 1.875em; /*30px*/
float: left;
list-style-type: none;
margin: 0 auto;
padding: 0;
}

nav li a{
margin: 0;
text-decoration: none;
display: block;
color: #dad3c9;
line-height: 40px;
padding: 2.222222% 1.111111%; /*20px 10px;*/
text-shadow: -1px 1px 2px #111;
}

nav li a:hover{
background: -webkit-gradient(linear, left top, left bottom, from(#ac0a19), to(#bc3a46));
background: -moz-linear-gradient(top,  #ac0a19, #bc3a46);
}

nav li a:active{
background-color: #ac0a19;
background: -webkit-gradient(linear, left top, left bottom, from(#ac0a19), to(#bc3a46));
background: -moz-linear-gradient(top,  #ac0a19, #bc3a46);
opacity: 0.5;
}
/* featured headline ********************************************* */
#feature{
 width: 33.333333%; /* 400px */
 padding: 1.111111%; /* 10px; */
 float: left;
 }
 
 #feature img{
 width: 100%;
 }
 

#pie{
/*padding: 2.222222% 0.555556%; 20px 5px;*/
}

#pie p{

font-size: 1.5em; /*24px;*/
text-align: left;
padding: 0.555556% 0; /* 5px 0px; */
color: #7e7e7e;
}

#join{
font-size: 1.75em;
text-shadow: 0 1px 1px #333;
color: #bc3a46;
margin: 1%;
}


span a{
width: 10%;
padding: 1.5%;
margin: 1%;
font-size: 1.25em;
text-decoration: none;
text-shadow: 0 1px 1px #aaa;
color: #56340e;
background: -moz-radial-gradient(25% 35%, farthest-corner, #fbf2da, #f1e9a0);
border-top: 1px solid #fbf2da;
border-left: 1px solid #fbf2da;
border-bottom: 2px solid #fff9f2;
border-right: 2px solid #fff9f2;
border-radius: 50%;
box-shadow: 0 1px 1px #555;
}

span a:hover{
border: 1px solid #56340e;
border-radius: 50%;
box-shadow: 0 1px 1px #333;
}

span a:active{
border: 2px solid #56340e;
box-shadow: inset 1px 1px 2px #333;
}

.pieparts{
width: 44.444444%; /* 400px; */
padding: 2.222222% 1.666667%; /*20px 15px;*/
float: left;
}

.pieparts p{
color: #7e7e7e;
font-size: 1.4375em; /*23px*/
text-align: left;
padding: 1.111111% 1.666667%; /* 10px 15px; */
}

.pieparts ol{
padding: 0 12.5%; /* 0 50px; */
}

.pieparts ol li{
color: #bc3a46;
font-size: 1.4375em; /*23px*/
padding: 0 7.5%; /* 0 30px; */
list-style: none;
background-image: url(../images/apple_bullet.png);
background-repeat: no-repeat;
background-position: left center;
}

.clearfix{
clear: left;
}
/* newspaper style paragraphs and factoids******************************** */
#pan{
padding: 2.777778%; /*25px;*/
}

#pantypes p{
color: #646464;
text-align: left;
}

#pantypes{
-moz-column-count: 3;
}

article{
width: 77.333333%; /* 696px; */
height:300px;
margin: 3.333333% 0; /* 30px 0; */
float: right;
}

article p{
color: #646464;
font-size: 1.1875em; /*19px*/
text-align: left;
padding: 5px 15px;
opacity: 0.65;
}


aside{
width: 22.222222%; /* 200px; 
background-color: #ab917a;*/
background: #ab917a;
box-shadow: 0 1px 3px #444;
border-top-left-radius: 40px;
border-bottom-right-radius: 40px;
margin: 3.333333% 0; /* 30px 0; */
padding: 1.666667% 0; /* 15px 0; */
}

aside h3{
color: #dad3c9;
line-height: 1.0;
padding:2.5% 0; /* 5px 0; */
}

aside p{
color: #FFF;
text-align: left;
padding: 5% 7.5%; /* 10px 15px; */
font-size: 0.9375em /* 17px; */
}
/* Gallery and Footer ****************************************** */
#gallery{
height: 200px;
}

#gallery img{
width:80%;
border:6px solid #b8d9a2;
opacity: 0.7;
}

#gallery ul{
padding: 0 1.666667%; /* 0 15px; */
list-style-type: none;
}

#gallery li{
width: 25%;
float: left;
margin: 0 auto; 
}

#gallery li a{
display: block;
padding: 0.888889%; /*8px 8px;*/
}

#gallery li a:link{
list-style: none;
}

#gallery li a:visited{
opacity: 0.3;

}

#gallery li a:hover{
opacity: 1;

}

#gallery li a:active{
opacity: 0.8;
}

#membership p{
padding: 1% 0;
text-align: left;
font-size: .7em;
color: #fff;
}

table{
width: 42.222222%;
border-collapse: collapse;
margin: 0 2%;
padding: 2.222222%;
float:right;
background: -moz-radial-gradient(45% 55%, farthest-corner, #ddc0a0, #c7a177);
border-top-left-radius: 5%;
border-top-right-radius: 5%;
border-bottom-right-radius: 5%;
border-bottom-left-radius: 70% 40%;
box-shadow: -1px 1px 2px #333;
}

th{
color:#fff9f2;
text-align: center;
text-shadow: 0 1px 1px #56340e;
font-size: 1.25em;
padding: 2%;
border-bottom: 1px dotted #e6ccb0;
}


td{
font-size: 1.125em;
text-align: center;
text-shadow: 1px 1px 2px #fff;
padding: .5%;
color: #56340e;
}

.free{
border-right: 1px dotted #e6ccb0;
}
/*
#fmem{
text-shadow: 0 1px 1px #333;
border-top-left-radius: 75%;
border-top-right-radius: 75%;
background-color: #f1e9a0;
}



#fmemlast{
text-shadow: 0 1px 1px #333;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #b8d9a2;
color: #fff;
}

#emem{
text-shadow: 0 1px 1px #333;
border-top-left-radius: 75%;
border-top-right-radius: 75%;
background-color: #edd8c1;
}

.exclusive{
text-shadow: 0 1px 1px #333;
Background-color: #8d4c00;
color: #fff;
}

#ememlast{
text-shadow: 0 1px 1px #333;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #8d4c00;
color: #fff;
}
*/
form{
width: 45%;
margin: 1% 2%;
padding: 1.111111%;
background: -moz-radial-gradient(55% 55%, farthest-corner, #b8d9a2, #8aba6a);
border-top-left-radius: 5%;
border-top-right-radius: 5%;
border-bottom-right-radius: 60% 60%;
border-bottom-left-radius: 5%;
border: 1px solid #8aba6a;
box-shadow: 1px 1px 1px #333;
}

input{
margin: 0;
}

label{
font-size: 1.5em;
color: #fff9f2;
text-shadow: 0 1px 1px #000;
}

button{
width: 40%;
background: -moz-radial-gradient(25% 35%, farthest-corner, #fbf2da, #f1e9a0);
height: 50px;
font-size: 1.425em;
color: #56340e;
border-top: 1px solid #fbf2da;
border-left: 1px solid #fbf2da;
border-bottom: 2px solid #fff9f2;
border-right: 2px solid #fff9f2;
border-radius: 50%;
box-shadow: 0 1px 1px #555;
}

button:hover{
background: -moz-linear-gradient(top,  #f1e9a0,  #ecd69c);
border: 1px solid #56340e;
border-radius: 50%;
box-shadow: 0 1px 1px #333;
}

button:active{
border: 2px solid #56340e;
box-shadow: inset 1px 1px 2px #333;
}

input[type=text]{
width:80%;
height: 20px;
border-top: 1px solid #56340e;
border-left: 1px solid #56340e;
border-bottom: 2px solid #fff9f2;
border-right: 2px solid #fff9f2;
border-radius: .5em;
background-color: #edd8c1;
box-shadow: inset 0 1px 1px #56340e;
}

input[type=radio]{

}

footer p{
padding: 1.666667%; /* 15px; */
color: #fff;
}

footer ul{
list-style-type: none;
margin: 0 auto;
}

footer li{
width: 20%;
float: left;
font-size: 1.25em; /*20px*/
list-style-type: none;
margin: 0 auto;
padding: 0px;
}

footer li a{
text-decoration: none;
display: block;
color: #dad3c9;
text-shadow: -1px 1px 2px #111;
/*padding: 0.555556% 2.222222%;  5px 20px; */
}

footer li a:hover{
background-color: #ac0a19;
background: -webkit-gradient(linear, left top, left bottom, from(#ac0a19), to(#bc3a46));
background: -moz-linear-gradient(top,  #ac0a19, #bc3a46);
}

footer li a:active{
background-color: #ac0a19;
background: -webkit-gradient(linear, left top, left bottom, from(#ac0a19), to(#bc3a46));
background: -moz-linear-gradient(top,  #ac0a19, #bc3a46);
opacity: 0.5;
}

/* ========================================================================= */
/* Media Queries 
Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width:959px){
	/*body{
	background-color: #acc;
	}*/
	
	
	#pie p{
	/*font-size: 1.25em;  20px */
	}
}

/* Media Queries 
Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width:767px){
	/*body{
	background-color: #1a3;
	}*/
	
	h1{
	font-size: 2.5em; /*40px*/
	}
	
	h2{
	font-size: 1.875em; /*30px*/
	padding: 0;
	}
	
	#logo{
	display: none;
	}
	/*
	#headline{
	height: 420px;
	}
	*/
	#feature{
	float: none;
	margin: 0 auto;
	padding: 0;
	}

	nav li{
	font-size: 1.5625em; /*25px*/
	}

	#pie p{
	width: 80%;
	margin: 0 auto;
	font-size: 1.25em; /* 20px */
	padding: 0;
	}
	
	.pieparts p{
	font-size: 1.125em; /* 18px */
    }
	
	.pieparts ol li{
	font-size: 0.8125em; /* 13px */
	}
	
	article{
	float: none;
	width: 100%;
	height: 100%;
	margin:0 auto;
	padding: 3.333333% 0;
	}	
	
	aside{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	}
	
	aside h3{
	padding: 1.666667% 0 0 0;
	}
	
	aside p{
	padding: 1.666667%;
	}
	
	#gallery h3{
	padding:1.111111%;
	}
	
	

}

/* Media Queries 
Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px){
	/*body{
	background-color: #3ba;
	}*/
	
	h1{
	font-size: 2.1875em; /*35px*/
	}
	
	h2{
	font-size: 1.875em; /*30px*/
	padding: 0;
	}
	
	#header{
	height: 65px;
	}
	
	
	#logo{
	display: none;
	}
	/* 
	#headline{
	height: 420px;
	}
	*/
	#feature{
	display: none;
	}
	nav li{
	font-size: 1.25em; /*20px*/
	}
	
	nav li a{
	background-color: none;
	background: none;
	border: none;
	}

	nav li a:hover{
	background:none;
	color: #fff;
	}	
	
	#pie p{
	width: 90%;
	margin: 0 auto;
	font-size: 1.125em; /* 20px */
	padding: 0;
	}
	
	.pieparts{
	width: 80%;
	margin: 0 auto;
	float: none;
    }
    
    .pieparts p{
	font-size: 1.125em; /* 20px */
    }
	
	.pieparts ol li{
	font-size: 1em; /* 20px */
    }
    
	#pantypes{
	-moz-column-count: 1;
	}
	
	#pantypes p{
	width: 80%;
	margin: 0 auto;
	}

	article{
	float: none;
	width: 80%;
	height: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin:0 auto;
	padding: 0;
	}	
	
	article p{
	display: none;
	}
	
	aside{
	width: 80%;
	height: 100%;
	background: none;
	border-bottom-right-radius: 0;
	border-bottom: 1px solid #000;
	margin: 0 auto;
	padding: 0;
	}
	
	aside p{
	display: none;
	}
	
	#gallery{
	background-image: url(../images/bg1.jpg);
	border-radius: 10px;
	margin: 2.222222% 2%;
	padding: 1.111111%;
	height: 100%;
	box-shadow: 0px 3px 3px #000;
	}
	
	#gallery ul{
	width: 80%;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	}
	
	#gallery li{
	float: none;
	margin: 0 auto;
	}
	
	#gallery li a{
	display: inline;
	}
	
	#gallery img{
	width: 100%;
	}
	
	footer li{
	font-size: .8em;
	margin: 0% 2%;
	}
	
	
	

	
}