/* Color Scheme
	Crust color  #dad3c9
	Yellow apple #f1e9a0
	Green apple #b8d9a2
	Red apple #bc3a46
*/
h1,h2,h3,h4,h5,h6,p,ul,ol,li{
margin: 0;
padding: 0;
font-family: 'Macondo', cursive;
text-align: center;
color: #dad3c9;
}

h1
{
font-size: 60px;
text-shadow: -1px 1px 2px #111; 
}

h2{
font-size: 40px;
padding: 20px 0;
text-shadow: -1px 1px 2px #111; 
}

h3{
font-size: 30px;
text-shadow: -1px 1px 2px #111; 
}

p{
font-family: helvetica, sans-serif;
}

#header{
height: 90px;
background-color: #bc3a46;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

#headline{
background-color: #ab917a;
height: 380px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

footer{
clear: right;
height: 100px;
background-color: #bc3a46;
border-radius: 10px;
}

body{
width: 900px;
margin: 0 auto;
padding: 0;
}

#logo{

}

nav{
padding: 10px 0 0 0;
}

nav ul{
float: right;
list-style: none;
padding: 15px 10px;
}

nav li{
font-size: 30px;
display: inline;
list-style-type: none;
padding: 0;
}

nav li a{
margin: 0;
text-decoration: none;
background-color: #bc3a46;
background: -webkit-gradient(linear, left top, left bottom, from(#bc3a46), to(#ac0a19));
background: -moz-linear-gradient(top,  #bc3a46,  #ac0a19);
border: 1px solid #8c1721;
border-radius: 5px;
color: #dad3c9;
padding: 20px 10px;
text-shadow: -1px 1px 2px #111;
}

nav li a:hover{
background: -webkit-gradient(linear, left top, left bottom, from(#ac0a19), to(#bc3a46));
background: -moz-linear-gradient(top,  #ac0a19, #bc3a46);
}

nav li a:hover{
background-color: #ac0a19;
}

#feature{
 float: left;
 padding: 20px 10px;
 }

#pie{
padding: 20px 5px;
}

#pie p{
font-size: 28px;
padding: 5px 0px;
color: #FFF;
}

#apples{
padding: 0;
float: left;
}

.pieparts{
width: 400px;
padding: 20px 15px;
float: left;
}

.pieparts p{
color: #646464;
font-size: 23px;
padding: 10px 15px;
}

.pieparts ol{
padding: 0 50px;
}

.pieparts ol li{
color: #bc3a46;
font-size: 23px;
padding: 0 30px;
list-style: none;
background-image: url(../images/apple_bullet.png);
background-repeat: no-repeat;
background-position: left center;
}

.clearfix{
clear: left;
}

#pan{
padding: 25px;
}

#pantypes p{
color: #646464;
}

#pantypes{
-moz-column-count: 3;
}

article{
width: 696px;
height:300px;
margin: 30px 0;
border: 1px solid #5d4401;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
float: right;
}

article p{
color: #646464;
font-size: 23px;
padding: 5px 15px;
opacity: 0.65;
}


aside{
width: 200px;
height: 270px;
background-color: #ab917a;
border: 1px solid #5d4401;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
margin: 30px 0;
padding: 15px 0;
}

aside h3{
color: #dad3c9;

padding: 15px px;
}

aside p{
color: #FFF;
padding: 10px 15px;
font-size: 17px;
}

#gallery{
height: 200px;

}

#gallery ul{
padding: 0 15px;
list-style-type: none;
}

#gallery li{
float: left;

margin: 25px;
}

#gallery li a{
display: block;
padding: 8px 8px;
background-color: #bc3a46;
}

#gallery li a:link{
background-color: #bc3a46;
}

#gallery li a:visited{
background-color: #b8d9a2;

}

#gallery li a:hover{
background-color: #dad3c9;

}

#gallery li a:active{
background-color: #646464;
}

footer p{
padding: 20px;
color: #fff;
}

footer li{
font-size: 20px;
display: inline;
list-style-type: none;
padding: 0px;
}

footer li a{
margin: 0;
text-decoration: none;
background-color: #bc3a46;
background: -webkit-gradient(linear, left top, left bottom, from(#bc3a46), to(#ac0a19));
background: -moz-linear-gradient(top,  #bc3a46,  #ac0a19);
border: 1px solid #8c1721;
border-radius: 5px;
color: #dad3c9;
text-shadow: -1px 1px 2px #111;
padding: 5px 20px;
}

footer li a:hover{
background-color: #ac0a19;
background: -webkit-gradient(linear, left top, left bottom, from(#ac0a19), to(#bc3a46));
background: -moz-linear-gradient(top,  #ac0a19, #bc3a46);
}